<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Tienda_de_ropa/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/(.*)$ index.php?url=$1 [L,QSA]
</IfModule>